$primary : #EEEEEE;
$secondary: #DDDDDD;
$font-primary: #06113C;
$orange: #FF8C32;
$primary-shadow : 0 0 5px #06113C2d;
$secondary-shadow: 0 5px 5px #06113C2D;
$text-shadow: 0 0 2px #06113C;
$mobile: 700px ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: $font-primary;
    
    &:visited {
        color: $font-primary; 
    }
}

.main {
    color: $font-primary;
}

@keyframes firstclick {
    from {
        height: 100vh;
    }

    to {
        height: 0vh;
        display: none;
    }
}

.start {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    color: $primary;
    text-shadow: $text-shadow;
    background-image: url("/assets/City\ -\ 18241.mp4");

    video {
        position: absolute;
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }

    &__backdrop {
        position: absolute;
        background-image: linear-gradient(#06113C00,#06113CFF);
        height: 100%;
        width: 100%;
    }

    &__content {
        position: absolute;
        margin: 3rem;
    }

    h1 {
        color: $orange;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-family: 'Righteous', cursive;
    }

    p {
        font-size: 1rem;
        max-width: 15rem;
    }

    &--close {
        animation: firstclick 3s forwards ease-in-out;
    }
}

.page {
    display: none;

    &--active {
        display: inline;
    }
}

.header {
    background-color: $font-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $primary-shadow;
    color: $primary;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        width: 100%;
    }

    button {
        color: $orange;
        display: none;
        font-size: 2rem;
        background: none;
        border: none;
    }

    h1 {
        color: $orange;
        cursor: pointer;
        font-size: 4rem;
        font-family: 'Righteous', cursive;
    }

    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
            display: flex;
            flex: 1;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            height: 3rem;
            min-height: 2.5rem;
            padding-inline: 1rem;
            cursor: pointer;
            transition: all 0.15s ease-in;

            &:hover {
                color: $orange;
            }
        }

        .active {
            color: $font-primary;
            background-color: $orange;
            
            &:hover {
                color: $font-primary;
            }
        }
    }
}

.content {
    display: none;
    background-color: $secondary;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.maingrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

@keyframes gone {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.firstcard {
    display: flex;
    background-color: $primary;
    border-radius: 1rem;
    box-shadow: $primary-shadow;
    min-height: 15rem;
    transition: all 0.15s;
    animation: gone 0.5s ease-in-out forwards;

    &__right {
        flex: 3;
        border-radius: 1rem 0 0 1rem;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        background-color: lightseagreen;
        color: $primary;
        text-shadow: $text-shadow
        ;
    }

    &__backdrop {
        background-image: linear-gradient(#06113C6C,#06113CD2);
        border-radius: 1rem 0 0 1rem;
        padding: 1rem;
        height: 100%;
    }

    &__datetime {
        display: flex;
        justify-content: space-between;
    }

    &__date, &__time {
        font-size: 1rem;
    }

    &__title {
        font-size: 1.5rem;
        margin-top: 6rem;
    }

    &__left {
        flex: 2;
        margin: 1rem;
    }

    &__description {
        margin-bottom: 1rem;
    }
     
    &__content {
        font-size: 1rem;
    }

    &:hover {
        box-shadow: $secondary-shadow;
        transform: scale(1.01);
    }
}

.newscard {
    background-color: $primary;
    border-radius: 1rem;
    box-shadow: $primary-shadow;
    display: flex;
    flex-direction: column;
    transition: all 0.15s;
    animation: gone 0.5s ease-in-out forwards;

    &__top {
        border-radius: 1rem 1rem 0 0;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        background-color: $orange; 
        color: $primary;
        text-shadow: $text-shadow;
        min-height: 6rem;
    }

    &__backdrop {
        background-image: linear-gradient(#06113C6C,#06113CD2);
        border-radius: 1rem 1rem 0 0;
        padding: 1rem;
    }

    &__datetime {
        display: flex;
        justify-content: space-between;
    }

    &__date, &__time {
        font-size: 1rem;
    }

    &__title {
        margin-top: 6rem;
        font-size: 1.5rem;
    }

    &__description {
        font-size: 1rem;
        margin: 1rem;
        color: $font-primary;
    }

    &:hover {
        box-shadow: $secondary-shadow;
        transform: scale(1.01);
    }
}

@media (max-width: $mobile) {
    .start {
        h1 {
            font-size: 3rem;
        }
    }

    .header {
        div {
            justify-content: space-between;
        }

        button {
            display: block;
        }

        h1 {
            font-size: 2rem;
        }

        &__list {
            flex-direction: column;

            &--close {
                display: none;
            }
        }
    }

    .firstcard {
        flex-direction: column;

        &__right {
            flex: 1;
            border-radius: 1rem 1rem 0 0;
            
        }

        &__backdrop {
            min-height: 20rem;
        }

        &__left {
            flex: 1;
        }

        &__backdrop {
            border-radius: 1rem 1rem 0 0;
        }
    }
}